html {
  color: seagreen;
  font-family: "Montserrat", sans-serif;
  font-size: medium;
}

body {
  background-color: white;
  color: #2a2a2a;
  text-align: center;
}
.banner {
  box-sizing: border-box;
  width: 700px;
  height: 250px;
  border: 5px solid #2a2a2a;
  padding: 30px;
  margin: 100px;
  background-color: #009688;
}
td > span {
  text-decoration: line-through;
}
article {
  font-size: medium;
  font-weight: 600;
  text-decoration-color: yellow;
  text-align: start;
  text-transform: uppercase;
}
.post-text {
  text-indent: 20px;
  line-height: 2;
  letter-spacing: 5px;
  text-shadow: 5px 5px 7px #f7f70e, 4px 3px 4px #f02af2;
}
.test-link {
  color: blue;
}
.test-link:hover,
.test-link:focus {
  color: rgb(255, 0, 0, 0.4);
}

.test-link:active {
  color: turquoise;
}

.title {
  font-weight: 400;
  text-shadow: blueviolet;
}
.text {
  color: teal;
  font-size: 18px;
}
.link {
  color: teal;
}

.notification {
  font-size: 24px;
  font-weight: 500;
}
.success {
  color: green;
}
.warning {
  color: orange;
}
.error {
  color: red;
}
.social {
  color: aqua;
}
table {
  border: 2px solid black;
  height: 50px;
  width: 50px;
  border-collapse: collapse;
}
tr,
td,
th {
  border: 2px solid black;
}

.stylebody > tr:hover {
  background-color: orange;
}
.stylebody th,
.stylebody tr {
  padding: 8px;
  border: 3px solid #212121;
  height: 155px;
  width: 155px;
  border-color: orchid;
  background-origin: padding-box;
}
pre {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #2a2a2a;
  font-size: 16px;
}

pre::first-letter {
  font-family: "Tahoma", serif;
  font-size: 32px;
  color: #f44336;
}
pre::selection {
  color: #ffffff;
  background-color: #3f51b5;
}
