html {
  color: seagreen;
  font-family: "Montserrat", sans-serif;
  font-size: medium;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: white;
  color: #2a2a2a;
  margin: 0;
}

td > span {
  text-decoration: line-through;
}
article {
  font-size: medium;
  font-weight: 600;
  text-decoration-color: yellow;
  text-align: start;
  text-transform: uppercase;
  text-align: center;
}
.post-text {
  text-indent: 20px;
  line-height: 2;
  letter-spacing: 2px;
  text-shadow: 5px 5px 7px #f7f70e, 4px 3px 4px #f02af2;
  box-sizing: border-box;
  width: 650px;
  height: 350px;
  border: 2px dotted #850a0a;
  border-right-style: dashed;
  border-right-color: rgb(85, 3, 31);
  padding: 30px 10px 30px 100px;
  margin: 50px 50px 100px 450px;
  background-color: palevioletred;
  border-radius: 150px;
}
.test-link {
  color: blue;
}
.test-link:hover,
.test-link:focus {
  color: rgb(255, 0, 0, 0.4);
}
.conteiner {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  background-color: teal;
  align: center;
}
.link {
  display: inline-block;
  padding: 20px 50px;
  border-radius: 3px;
  background-color: teal;
  color: tomato;
  font-family: sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.test-link:active {
  color: turquoise;
}
.is-hidden {
  display: none;
}
.title {
  font-weight: 400;
  text-shadow: blueviolet;
}
.text {
  background-color: teal;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 50px;
  margin-left: 50px;
}

.notification {
  font-size: 24px;
  font-weight: 500;
}
.success {
  color: green;
}
.warning {
  color: orange;
}
.error {
  color: red;
}
.social {
  color: aqua;
}
table {
  border: 2px solid black;
  height: 50px;
  width: 50px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
tr,
td,
th {
  border: 2px solid black;
}

.stylebody > tr:hover {
  background-color: orange;
}
.stylebody th,
.stylebody tr {
  padding: 8px;
  border: 3px solid #212121;
  height: 155px;
  width: 155px;
  border-color: orchid;
  background-origin: padding-box;
}
pre {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #2a2a2a;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

pre::first-letter {
  font-family: "Tahoma", serif;
}
pre::selection {
  color: #ffffff;
  background-color: #3f51b5;
}
.list-item:nth-child(3n + 1) {
  background-color: orange;
}
.btn {
  display: inline-block;
  padding: 20px 40px;
  border: 2px solid black;
  border-radius: 4px;
  border-color: blueviolet;
  color: #f7f70e;
  text-decoration: none;
}
.i-btn {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  background-color: aqua;
  vertical-align: bottom;
}
.paragraff {
  background-image: linear-gradient(#0b486b, #f56217);
}
.stishok {
  margin: 10px;
}
.cuplet {
  background-image: linear-gradient(
    to right,
    #0b486b 15%,
    #f56217 35%,
    #f11712 65%,
    #0099f7
  );
}

.third {
  background-image: radial-gradient(circle at center, #1488cc, #b31217);
}
.stishok .item {
  width: calc((100% - 60px) / 3);
}
.stishok .item:not(:nth-child(3n)) {
  margin-right: 10px;
  margin-left: 10px;
}
